APP_NAME=ESS-Track
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3307
DB_DATABASE=ess-track-backend-db
DB_USERNAME=root
DB_PASSWORD=

CMS_USE_JSON=false
CMS_DATABASE_SCHEMA_READY=false
CMS_PORTAL_EMAIL=portal@esspl.com.pk
CMS_PORTAL_PASSWORD=

MEDIA_STORAGE_DRIVER=database
MEDIA_MAX_UPLOAD_KB=4096
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_UPLOAD_PRESET=

CHATBOT_ENABLED=true
CHATBOT_AI_ENABLED=true
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
